@tailwind base;
@tailwind components;
@tailwind utilities;

.quiz-item {
    margin-bottom: 20px; /* Adjust this value as needed */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.quiz-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}
footer {
    background-color: #08061a;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

